@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
/* start basic rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    transition: all .2s ease-in-out;
}
:root {
    --primary-clr: #F90E4D;
    --white-clr: #ffffff;
    --text-clr: #fcfc;
    --sec-bg: #191919;
}
body {
    background-color: #101010;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
p {
    line-height: 1.7;
    color: var(--text-clr);
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: var(--white-clr);
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 576px) {
    .container {
        width: 540px;
    }
}
@media screen and (min-width: 768px) {
    .container {
        width: 720px;
    }
}
@media screen and (min-width: 992px) {
    .container {
        width: 960px;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
.heading {
    font-size: 2rem;
}
@media screen and (min-width: 768px) {
    .heading {
        font-size: 4rem;
    }
}
.btn {
    display: block;
    width: fit-content;
    padding: 10px 25px;
    background-color: var(--primary-clr);
    border-radius: 30px;
    border: 2px solid var(--primary-clr);
    color: var(--white-clr);
    cursor: pointer;
}
.btn:hover {
    background-color: transparent;
}
/* end basic rules */
/* start header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding: 1.2rem 0;
    background-color: var(--sec-bg);
    box-shadow: 0 5px 15px rgba(25, 25, 25, .2);
}
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--white-clr);
}
.brand span {
    color: var(--primary-clr);
}
#nav-input {
    display: none;
}
.nav-btn {
    position: relative;
    display: block;
    width: 46px;
    height: 37px;
    border: 1px solid var(--white-clr);
    border-radius: .25rem;
    cursor: pointer;
}
@media screen and (min-width: 992px) {
    .nav-btn {
        display: none;
    }
}
.nav-btn::after {
    content: "\f0c9";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--white-clr);
}
#nav-input:checked + .nav-btn::after {
    content: "\f00d";
}
.nav-links {
    display: flex;
}
@media screen and (max-width: 992px) {
    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 15px;
        background-color: var(--sec-bg);
        border-top: 1px solid transparent;
        box-shadow: 0 5px 15px rgba(255, 255, 255, .2);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    #nav-input:checked ~ .nav-links {
        border-color: var(--white-clr);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}
.nav-links li a {
    display: block;
    padding: 0 15px;
    color: var(--white-clr);
}
@media screen and (max-width: 992px) {
    .nav-links li a {
        padding: 15px 15px;
        background-color: #101010;
        border-radius: .25rem;
    }
    .nav-links li:not(:last-child) a {
        margin-bottom: 15px;
    }
}
.nav-links li a:hover {
    color: var(--primary-clr);
}
@media screen and (max-width: 992px) {
    .header .btn {
        display: none;
    }
}
/* end header */